<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="com.nuova.model.Especialidad" />
        <mapping class="com.nuova.model.ProfesionalEspecialidad" />
        <mapping class="com.nuova.model.Profesional" />
        <mapping class="com.nuova.model.Obrasocial" />
        <mapping class="com.nuova.model.Paciente" />
        <mapping class="com.nuova.model.Orden" />
        <mapping class="com.nuova.model.OrdenTipo" />        
        <mapping class="com.nuova.model.OrdenWorkflow" />
        <mapping class="com.nuova.model.Observaciones" />
        <mapping class="com.nuova.model.OrdenPractica" />
        <mapping class="com.nuova.model.Nomenclador" />
        <mapping class="com.nuova.model.Prestadores" />   
        <mapping class="com.nuova.model.OrdenProfesional" />
        <mapping class="com.nuova.model.Caja" />             
        <mapping class="com.nuova.model.CajaOrden" />             
        <mapping class="com.nuova.model.CajaCierre" />    
        <mapping class="com.nuova.model.Calendario" />  
        <mapping class="com.nuova.model.OrdenDocument" />     
        <mapping class="com.nuova.model.Localidades" />
    </session-factory>
</hibernate-configuration>